* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(https://img.freepik.com/foto-gratis/vista-composicion-articulos-deportivos-bien-ordenados-organizados_23-2150275216.jpg?w=996&t=st=1705580232~exp=1705580832~hmac=d268df19d95896b9e015311b05f371e94893fe02627c69a4a1c0cac3a390b01f);
    background-size: cover;
}

.contenedor-formulario {
    max-width: 700px;
    height: 500px;
    display: flex;
    /* margin: 10px; */
    border-radius: 20px;
    box-shadow: 0px 5px 7px rgb(0, 0, 0, .1);
}

.informacion-bienvenida {
    width: 45%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color:  #eae7e7;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.info-bienvenida {
    width: 100%;
    padding: 0 40px;
}

.info-bienvenida h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 45px;
}

.info-bienvenida p {
    text-align: center;
    font-size: 15px;
    margin-bottom: 45px;
}

.info-bienvenida input {
    background-color: transparent;
    outline: none;
    border: solid 2px rgb(3, 137, 255);
    border-radius: 20px;
    padding: 10px 20px;
    color: rgb(3, 137, 255) ;
    cursor: pointer;
}

.info-bienvenida input:hover {
    background-color: rgb(3, 137, 255);
    border:none;
    color: white;
    box-shadow: 0px 5px 7px rgb(0, 0, 0, .1);
}

.informacion-formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    text-align: center;
    background-color: #f8f8f8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.info-formulario {
    padding: 0 30px;
}

.info-formulario h2 {
    font-size: 30px;
}

.iconos-login {
    margin: 15px 0;
}

.iconos-login i {
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color:rgb(3, 137, 255);
    box-shadow: 0px 5px 7px rgb(0, 0, 0, .1);
    border: solid thin rgb(3, 137, 255);
}

.iconos-login i:hover {
    background-color:  rgb(3, 137, 255);
    color: white;
}

.form {
    margin: 25px 0 0 0;
}

.form label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0px 5px 7px rgb(0, 0, 0, .1);
}

.form label input {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
}

.form label i {
    color: #a7a7a7;
}

.form input[type="submit"] {
    background-color: transparent;
    outline: none;
    border: solid 2px rgb(3, 137, 255);
    border-radius: 20px;
    padding: 10px 20px;
    color: rgb(3, 137, 255) ;
    cursor: pointer;
}

.form input[type="submit"]:hover {
    background-color: rgb(3, 137, 255);
    border:none;
    color: white;
    box-shadow: 0px 5px 7px rgb(0, 0, 0, .1);
}

/* RESPONSIVE */

@media screen and (max-width: 560px) {
    .contenedor-formulario {
        flex-direction: column;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .informacion-bienvenida {
        width: 95%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px; 
    }

    .informacion-formulario {
        width: 95%;
        padding: 20px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px; 
        border-bottom-right-radius: 20px;
    }
}