
.login {
    justify-content: center;
    padding: 150px;
    background-image: url(https://img.freepik.com/foto-gratis/mujer-que-corre-calle-al-atardecer_23-2147925409.jpg?w=996&t=st=1705537607~exp=1705538207~hmac=c382799e592634fc7aa7bab6af19b2d56fad1398d14e1dae3759fda5ad080be4);
    /* background-image: url(https://img.freepik.com/foto-gratis/vista-lateral-hombre-deportivo-corriendo-muelle-cerca-mar_8353-6845.jpg?w=996&t=st=1705544619~exp=1705545219~hmac=9423c74093fb35325a2f14b26ac0f30694e5ec5b876bc9647eb9060bd762ab09); */
    /* background-image: url(https://img.freepik.com/foto-gratis/hombre-corredor-calle_1150-5979.jpg?w=996&t=st=1705544578~exp=1705545178~hmac=1fd25410812595fc8d49881d12f3fa6ce4ee300ec03bafb8b971f76a21c4d848); */
    /* background-image: url(https://img.freepik.com/foto-gratis/hombre-ropa-deportiva-corriendo-carretera_273609-14230.jpg?w=996&t=st=1705544527~exp=1705545127~hmac=b06fe63743291bdf578332fc8d27f193d3515fa94a0b5f3ea7664405e6293878); */
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10.7%;

}
.contenedor-login {
    margin: auto auto;
    width: 50%;
    height: 100%;
    display: flex;    
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 3px rgba(0,0,0,0.75);
}

.informacion-contenedor-login {
    padding: 20px 0px;
    width: 80%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* margin-bottom: 50px;     */
    background-color: white;
    border-radius: 0px 10px 10px 0px;
}

.subtitulo {
    letter-spacing: 1px;
    color: #3C5E81;
    font-size: 15px;
    margin: 0;
}

.social-login {
    width: 65%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-login-elemento img {
    width: 20px;
    height: 20px;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    left: -5%;
}


.social-login-elemento {
    width: 45%;
    height: 55%;
    font-size: 12px;
    font-weight: 530;
    letter-spacing: 0.5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    cursor: pointer;
}

.social-login-elemento:hover {
    background-color: black;
    color: #81c9fa;
}

p {
    font-size: 16px;
    margin: 0;
}

form {
    width: 65%;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.input {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 1px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: auto;
    margin-bottom: 1px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
    border: none;
    border-radius: 5px;
    background-color: #81c9fa;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn:hover {
    background-color: black;
    color: #81c9fa;
}

.span {
    margin: 10px;
    color: #3C5E81;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}
.regi{
    color: #2e88fe;
}
.img-deportistas{
    width: 350px;
    border-radius: 10px 0px 0px 10px;
}