/* Reglas generales */
*{
    margin: 0px;
}
/* Style para el navBar entero*/
header{
    display: flex;
    justify-content: space-around;    
    align-items: center;
    background-color: black;
    
}
.navBar{    
    display: flex;
    font-size: 23px;
    gap: 20px;
}
.logo{
    width: 100px;
    position: relative;
    left: 20px;
}

/* inicio/producto/contacto */
.def{
    color: white;    
    text-decoration: none;
    transition: border-bottom  ease;
}
.def:hover{
    color: #ffffff;
    border-bottom: 2px solid #81c9fa;
}
/*iconos usuario y bolsa de compra*/
.iconos{    
    position: relative;
    right: 20px;
    gap: 5px;
    
}
.icono{
    position: relative;
    bottom: 2px;
    
}
.material-symbols-outlined {
    color: #81c9fa;
    font-size: 45px;    
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 100
}
.nombreUsuario{
    color: #81c9fa;
    font-weight: bold;
  }
  .deactivate{
    display: none;
  }


/* seccion de personalizar */
.personalizar {
    width: 100%;
    /* background-color: #f3f3f3; */
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.contenedor-personalizar {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 60px 0;
}

/* seccion de vista del producto seleccionado */
.vista-elegida {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}


.contenedor-drag-and-drop {
    position: absolute;
    width: 18%; 
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8c8c8c;
}
.imagen-diseño {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen-diseño img {
    width: 50%;
}

/* seccion de las opciones para personalizar */
.opciones-personalizar {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.informacion-producto {
    width: 100%;
    display: flex;
    justify-content: space-between;;
    margin-bottom: 20px;
}

.informacion-producto h3 {
    font-weight: 700;
    color: #1465bb;
    margin-left: 18px;
}

.informacion-producto p {
    font-size: 20px;
    margin-right: 18px;
}

.distintas-vistas {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.distintas-vistas img {
    width: 20%;
    border-radius: 3px;
    border: 1px solid #c5bcc0;
    padding: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.seleccion-opciones {
   width: 92%;
   display: flex;
   flex-direction: column;
   
}

.seleccion-opciones button {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    margin: 10px 0px;
    border: 1px solid #c5bcc0;
    background-color: white;

} 

.seleccion-opciones img {
    width: 30px;
    margin: 4px 35px 0px 108px;
}

.seleccion-opciones p {
    margin: 4px 0px 0px;
    font-size: 18px;
}

.talla-cantidad {
    margin: 4px 35px 0px 125px !important;
}

/* modal */
.modal-body {
    margin: 20px 50px;
    padding: 0;
    border: 2px solid #e2e2e2;
    display: flex;
}

.modal-aside {
    padding: 20px;
    width: 45%;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-icono {
    width: 75px;
    height: 75px;
    margin-top: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);
}

.modal-icono img {
    width: 40px;
    height: 40px;
}

.modal-titulo-producto {
    font-weight: lighter;
    margin-top: 15px;
}

.modal-buscar-producto {
    width: 65%;
    height: 40px;
    text-align: center;
    border-style: none;
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 4px;
    
}

.modal-btn-genero {
    margin-top: 30px;
    display: flex;
    gap: 18px;
}

.modal-btn-genero button {
    width: 130px;
    height: 40px;
    text-align: center;
    border-style: none;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
}

.linea {
    width: 65%;
    margin-top: 35px;
    border: 1px solid #333;
}

.modal-opciones-producto {
    width: 65%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    
}

.modal-opciones-producto button {
    width: 130px;
    height: 40px;
    text-align: center;
    border-style: none;
    border-radius: 4px;
    background-color: white;
    margin: 2px;
    margin-bottom: 10px;
    cursor: pointer;
}

.modal-main {
    width: 55%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.contenido-modal-producto {
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #e2e2e2;
    cursor: pointer;
}

.contenido-modal-diseño {
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #e2e2e2;
    cursor: pointer;
}

.contenido-modal-diseño img {
    width: 50%;
    margin: 40px;
    pointer-events: none;
}

.contenido-modal-producto img {
    width: 90%;
    margin-top: 18px;
    pointer-events: none;
}

.titulo-contenido {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0;
    pointer-events: none;
}

.precio-contenido {
    font-size: 14px;
    font-weight: lighter;
    pointer-events: none;
}


.boton-elegir {
    width: 130px;
    height: 40px;
    text-align: center;
    border-style: none;
    border-radius: 4px;
    background-color: #e2e2e2;
    margin-right: 35px;

}

.contenido-imagen {
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #e2e2e2;
}

.contenido-imagen img {
    width: 90%;
}

input[type="file"] {
    display: none;
  }

/* Estilo personalizado para el botón */
.custom-file-input {
    width: 40%;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 4px;
    margin-top: 25px;
    cursor: pointer;
}

.derechos {
    width: 65%;
    font-size: 12px;
    text-align: center;
    color: #8c8c8c;
}

/*Tambien te puede interesar*/

.interes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tmb-interes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tmb-interes h1 {
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 5px;
}
.tmb-interes div {
    width: 400px;
}

.cartas{
    display: flex;
    gap: 70px;
    padding-top: 30px;
    padding-bottom: 100px;
}
.img-raya{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.raya{   
    width: 150px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24
}

/*Ayuda/Dudas/Redes*/

.help{
    padding-top: 50px;
    background-color: #c5bcc0;
    display: grid;
    gap: 200px;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}
.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*footer*/

footer{
    background-color: #c5bcc0;
    display: flex;
    justify-content: space-around;
    gap: 500px;
}
.politicas{
    display: flex;
}
.redBoton{
    text-decoration: none;
}